{% extends "learn/base.html" %}

{% block content %}
<div class="random-container">
    <div class="container-content">
        {% if character_display %}
            <h1>{{ character_display }}</h1>
            
            {% if request.session.selected_set == 'radical' %}
            <div class="card-display say-text">
                <p><span>{{ random_reading }}</span></p>
                <div class="play-text">
                  <button>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20" height="20">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.114 5.636a9 9 0 0 1 0 12.728M16.463 8.288a5.25 5.25 0 0 1 0 7.424M6.75 8.25l4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z" />
                    </svg>
                  </button>
                </div>
            </div>
            {% endif %}
            
            <form method="post" action="{% url 'random' %}">
                {% csrf_token %}
                <label for="user_input"></label>
                <input type="text" id="user_input" name="user_input" placeholder="Romanji" autocomplete="off" autofocus required>
                <br><br>
                <button type="submit">Submit</button>
            </form>
        {% endif %}

        {% if result_message %}
            <p>{{ result_message }}</p>
            <p>{{ radical_char_meaning }}</p>
            <form method="post" action="{% url 'random' %}">
                {% csrf_token %}
                <input type="hidden" name="character_set" value="{{ request.session.selected_set }}">
                <button type="submit">Try Again</button>
            </form>
        {% endif %}
    </div>

    <form method="post" id="character-form" action="{% url 'random' %}">
        {% csrf_token %}
        <div class="checkbox-item">
            <input type="radio" name="character_set" id="hiragana" value="hiragana" {% if request.session.selected_set == 'hiragana' %}checked{% endif %} required>
            <label for="hiragana">Hiragana</label>
        </div>
        <div class="checkbox-item">
            <input type="radio" name="character_set" id="katakana" value="katakana" {% if request.session.selected_set == 'katakana' %}checked{% endif %} required>
            <label for="katakana">Katakana</label>
        </div>
        <div class="checkbox-item">
            <input type="radio" name="character_set" id="kanas" value="kanas" {% if request.session.selected_set == 'kanas' %}checked{% endif %} required>
            <label for="both">Hiragana & Katakana</label>
        </div>
        <div class="checkbox-item">
            <input type="radio" name="character_set" id="radical" value="radical" {% if request.session.selected_set == 'radical' %}checked{% endif %} required>
            <label for="radical">Radical</label>
        </div>
    </form>
    <p id="selected-message">Selected set: {{ request.session.selected_set }}</p>
</div>

<script>
    document.querySelectorAll('input[name="character_set"]').forEach((radio) => {
        radio.addEventListener('change', () => {
            const selectedSet = document.querySelector('input[name="character_set"]:checked').value;
            document.getElementById('selected-message').innerText = `Selected set: ${selectedSet}`;
            document.getElementById('character-form').submit();
        });
    });
</script>

{% endblock %}
