# Ignore Visual Studio Code settings directory
.vscode/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django migrations
*/migrations/*.py
*/migrations/__pycache__/

# Database
db.sqlite3

# Ignore environment configuration files
.env
