*{
  font-family: var(--body-font);
}

.mw-container {
  width: 100%;
}

.mw-container .most-like {
  text-align: left;
}

.list-card {
  padding: 10px;
  margin: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: var(--title-color);
  background-color: var(--card-container-color);
}
.list-card a{
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.top-list-card-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.top-list-card-header .num-entries, .info-type {
  padding: 3px 7px;
  border-radius: 5px;
  color: #FFF;
  font-size: 0.7rem;
  width: auto;
  height: 20px;
}

.list-card .list-description {
  width: 100%;
  margin: 0;
  color: #525252;
}

.bottom-list-card-footer {
  margin: auto 0 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-like {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 50px;
  height: 30px;
  padding: 5px;
  border: thin solid #EAE2E1;
  border-width: 3px;
  border-radius: 5px;
}

.like-btn {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.like-btn svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin: 7px 3px;
}

.liked path {
  fill: red;
  stroke: red;
}

.unliked path {
  fill: none;
  stroke: black;
}

.like-count {
  margin: 3px;
}

.bottom-list-card-footer .user {
  display: flex;
  align-items: center;
}

.user{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px 5px 0 0;
  padding: 0;
}
a .crt-list-btn{
  border: none;
  margin: 10px;
  cursor: pointer;
  background-color: #A855f7;
  border-radius: 5px;
}
/* Media Query for screens less than 708px */
@media only screen and (max-width: 707px) {
  .list-card {
    width: calc(100% - 20px);
    margin: 7.5px;
    padding: 20px;
    text-align: center;
  }
}

/* For responsiveness, adjust width percentages based on screen size */
@media (min-width: 768px) {
  .list-card .list-description {
    width: 45%;
  }
}
