/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Zen+Maru+Gothic:wght@500&display=swap');

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --nav-width: 219px;

  /*========== Colors ==========*/
  --first-color: #6923D0;
  --first-color-light: #F4F0FA;
  --title-color: #19181B;
  --text-color: #282828;
  --text-color-light: #585558;
  --body-color: #FFF;
  --container-color: #FFFFFF;
  --tag-one-color: #A855F7;
  --tag-two-color: #808080;
  --tag-three-color: #C47878;
  --tag-four-color: #EB03FF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-normal: 1em;
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* ========== Styling main head elements ========== */
.xmain-head {
  width: 100%;
  align-items: center;
}

.xmain-head .xrow #col-lx h1 {
  font-size: 4em;
  padding: 20px 0 0 0;
}

.xhead-content {
  display: flex;
  align-items: center;
}

.xhead-content h1 {
  margin-right: 5%;
}

.xhead-content button {
  display: flex;
  border: none;
  color: #A855f7;
  font-size: 0.75em;
  margin: 6% 0 0 0;
  background: none;
  font-weight: 500;
}

.xhead-content button:hover {
  background: #A855f740;
  border-radius: 4px;
  cursor: pointer;
}

.xhead-content button svg {
  width: 30px;
  height: 20px;
  fill: #A855f7;
  align-items: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.col-lx button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  display: flex;
  background: none;
  border: none;
}

.col-lx button svg {
  margin-right: 5px;
}

.tag-container {
  display: flex;
  align-items: center;
}

.tag-container button {
  border: none;
  display: flex;
  align-items: center;
}

.tag, .tag-container button {
  margin: 0 2.5px;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
}

.tag:hover {
  cursor: pointer;
  background: #F2F2F2;
}

.bg-bright {
  background-color: var(--tag-one-color);
}

.bg-gray {
  background-color: var(--tag-two-color);
}

.bg-light-brown {
  background-color: var(--tag-three-color);
}

.bg-pink-purple {
  background-color: var(--tag-four-color);
}

/* ========== Styling base col element ========== */
.base-col p {
  display: flex;
}
.base-col p button{
  border: none;
  background: none;
}

.btn-title-one{
  margin: 0 5px 0 10px;
  background-color: rgba(122, 191, 218, 0.296) !important;
  border-radius: 7px;
}
.btn-title-two{
  margin: 0 0 0 5px;
  background-color: rgba(122, 191, 218, 0.296) !important;
  border-radius: 7px;
}
.btn-title-one:hover, .btn-title-two:hover{
  cursor: pointer;
  background: #bcbaba !important;
  border-radius: 7px;
}

/* ========== Styling reading elements ========== */
.reading, .card-display{
  display: flex;
  align-items: center;

}
.reading button, .card-display button{
  border: none;
  background: none;
}
.reading button:hover, .card-display button:hover{
  cursor: pointer;
}

.card-draw{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items along the vertical axis (y-axis) */
  align-items: center;
  width: 50%;
  height: 150px;
  height: 50%;
}

.draw-container{
  width: 100%;
  height: 100px;
}
#kanji-container{
  height: 100%;
  width: 100%;
  background: #F0F0F0;
  margin: 2px auto;
}

.container-controls{
  align-items: center;
  display: flex;
  margin-top: 2px;
}
.container-controls button{
  border: none;
  background: none;
}
.container-controls button:hover{
  cursor: pointer;
}

.container-controls input{
  width: 18px;
  height: 18px;
}

/* ========== POP-UP WINDOW ========== */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  height: auto;
  text-align: center;
  position: relative;
  font-weight: var(--font-normal); /* Ensuring text is not bold */
}


.popup-content ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}


.popup-content li {
  font-size: var(--small-font-size); 
  color: var(--text-color); 
  margin: 0 0 1em 0; 
  padding: 0;
  font-weight: var(--font-normal); 
  line-height: 1.6; 
  display: flex; 
  align-items: flex-start; 
}


.popup-content li::before {
  content: "•"; 
  padding-right: 0.5em; 
  font-weight: normal; 
  display: inline-block;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}


/* ========== MAIN ELEMENTS ========== */
.xwrapper-body {
  width: 80%;
  margin: 0 auto;
  overflow-x: auto;
}
.xmain-head, .card-wrapper{
  float: left;
}

.card-wrapper {
  margin: 2% auto;
  background: var(--body-color);
  border: thin solid #ccc;
  width: 50%;
}

.text-description {
  margin: auto;
  width: 90%;
}

.text-description p {
  color: var(--text-color);
  padding: 5%;
}

.text-description p a {
  text-decoration: none;
  color: #7e3ff5;
}

/* ========== TABLE ELEMENTS ========== */
table {
  margin: auto;
  width: 70%;
  background: var(--body-color);
}

h2 {
  text-align: center;
  font-size: 2em;
}

tbody {
  width: 100%;
}

.display-kana {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

tr td div.display-kana button {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: none;
  border: none;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.45);
}

tr td div.display-kana button:hover {
  cursor: pointer;
}

.display-kana span:hover {
  color: inherit;
  border-radius: 12px;
}

.display-kana button span {
  font-size: 20px;
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  color: #000000;
}

.display-romanji {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.yoon {
  font-size: 24px !important;
}

/* ========== MEDIA QUERIES ========== */

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .xwrapper-body,
  .xrow,
  .card-wrapper,
  .xhead-content {
    width: 100%;
  }

  .xhead-content {
    height: 5%;
  }

  .xhead-content h1 {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
}

/* Smartphone styles */
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .xwrapper-body,
  .xrow,
  .card-wrapper {
    width: 100%;
  }

  .display-kana {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  tr td div.display-kana button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);
  }

  .display-kana button span {
    font-size: 10px;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 500;
    color: var(--text-color);
  }

  .xhead-content h1,
  .reading h2 {
    margin: 0;
    padding: 0;
  }

  .xhead-content h1 {
    font-size: 16px !important;
  }

  .reading h2 {
    font-size: 15px;
  }

  .reading, div.card-display{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
  }

  .card-wrapper{
    width: 100%;
  }

  .card-draw{
    width: 100%;
    height: 50%;
  }

  #kanji-container svg{
    width: 20%;
  }

  h2{
    font-size: 1em;
  }

  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 90%;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: var(--font-normal); /* Ensuring text is not bold */
    overflow-y: auto;
  }
}

/* Smartphone styles for slightly larger screens */
@media only screen and (min-width: 374px) and (max-width: 390px) {
  .xwrapper-body,
  .xrow,
  .card-wrapper {
    width: 100%;
  }
  .display-kana {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  .xhead-content h1,
  .reading h2 {
    margin: 0;
    padding: 0;
  }

  .xhead-content h1 {
    font-size: 20px !important;
  }

  .reading h2 {
    font-size: 15px;
    display: flex;
  }

  .reading, div.card-display{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
  }

  .card-wrapper{
    width: 100%;
  }

  .card-draw{
    width: 100%;
    height: 50%;
  }

  #kanji-container svg{
    width: 20%;
  }

  h2{
    font-size: 1em;
  }

  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 90%;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: var(--font-normal); /* Ensuring text is not bold */
    overflow-y: auto;
  }
}

/* Smartphone styles for medium screens */
@media only screen and (min-width: 390px) and (max-width: 499px) {
  .xhead-content h1,
  .reading h2 {
    margin: 0;
    padding: 0;
  }



  .xhead-content h1 {
    font-size: 20px !important;
  }

  .reading h2 {
    font-size: 16px;
    display: flex;
  }

  .reading, div.card-display{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
  }
  .xwrapper-body,
  .xrow,
  .card-wrapper {
    width: 100%;
  }

  .card-draw{
    width: 100%;
    height: 50%;
  }

  #kanji-container svg{
    width: 20%;
  }

  h2{
    font-size: 1em;
  }

  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    height: 90%;
    text-align: center;
    justify-content: center;
    position: relative;
    font-weight: var(--font-normal); /* Ensuring text is not bold */
    overflow-y: auto;
  }
}
