{% extends "learn/base.html" %}

{% block content %}
<div id="character-list"></div>
<div class="radical-space">
    <div class="radical">
        {% for radical in radicals %}
            <input type="checkbox" id="radical-{{ radical.radical_id }}" class="hidden-check">
            <label for="radical-{{ radical.radical_id }}" class="radical-search" data-radical-id="{{ radical.radical_id }}">
                {{ radical.radical }}
            </label>
        {% endfor %}
    </div>
</div>



{% endblock %}
