{% extends "learn/base.html" %}
{% block content %}
  <div class="mw-container">
    <h1 class="most-like">Most Liked Lists</h1>
    <p class="most-liked">Lists of words liked by most users.</p>
    {% for list in lists %}
      {% if list.privacy == 'public' %}
        <a href="{% url 'list_detail' pk=list.pk %}" class="list-card">
          <div class="top-list-card-header">
            <h2 class="list-title">{{ list.title }}</h2>
            <div class="top-list-card-col-right">
              <span class="num-entries entryCount">{{ list.entry_count }}</span>
              <span class="info-type infoType">Words</span>
            </div>
          </div>
          <p class="list-description">
            {{ list.description }}
          </p>
          <div class="bottom-list-card-footer">
            <div class="num-like">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" style="fill: rgba(255, 0, 88, 1);">
                <path d="M20.205 4.791a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412L12 21.414l8.207-8.207c2.354-2.353 2.355-6.049-.002-8.416z"></path>
              </svg>
              <p>{{ list.likes }}</p>
            </div>
            <div class="user">
              <img src="{{ list.author.profile.image.url }}" alt="img profile" class="profile-img">
              <p>{{ list.author }}</p>
            </div>
          </div>
        </a>
      {% endif %}
    {% endfor %}
    
    {% if user.is_authenticated %}
      <a href="{% url 'create_list' %}">
        <button type="submit" class="crt-list-btn">Create a new list</button>
      </a>
    {% endif %}
  </div>

  <script>
    function getRandomColor() {
      const letters = '0123456789ABCDEF';
      let color = '#';
      for (let i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    function setRandomBackgroundColor() {
      const entryCountElements = document.querySelectorAll(".entryCount");
      const infoTypeElements = document.querySelectorAll(".infoType");

      entryCountElements.forEach(element => {
        element.style.backgroundColor = getRandomColor();
      });

      infoTypeElements.forEach(element => {
        element.style.backgroundColor = getRandomColor();
      });
    }

    setRandomBackgroundColor();
  </script>
{% endblock content %}
