{% extends "learn/base.html" %}

{% block content %}
  <div class="form-content">
    <h1>{{ form.instance.pk|yesno:"Edit,Create" }} {{ model_name }}</h1>
    <form id="edit-form" method="post">
      {% csrf_token %}
  
      <label for="{{ form.title.id_for_label }}">Title:</label>
      <input type="text" name="title" id="id_title" value="{{ form.title.value|default_if_none:'' }}">
  
      <label for="{{ form.description.id_for_label }}">Description:</label>
      <textarea name="description" id="id_description">{{ form.description.value|default_if_none:'' }}</textarea>
  
      <button type="submit" id="save">Save</button>
  </form>
  
    <a href="{% url 'list_index' %}">
      <button class="bck-lists">Back to Lists</button>
    </a>
  </div>

  <style>
    .form-content {
      background-color: #fefefe;
      margin: 5% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      max-width: 600px; /* Max width for modal */
      position: relative;
    }

    /* Form styling */
    form {
      display: flex;
      flex-direction: column;
    }

    label {
      margin-top: 10px;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    button[id="save"] {
      color: #000;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    button[id="save"]:hover {
      background-color: aqua;
      cursor: pointer;
      color: #000;
    }
  </style>

{% endblock %}

